# Capsotn project 1: Data input ,unify and cleanning

## Input genotypic and phenotypic data from soybase and the published paper

In [1]:
pwd

'C:\\Users\\Zixiang'

In [1]:
import pandas as pd
import numpy as np

In [2]:
##Data download from soybase websit: https://soybase.org/snps/index.php.
df=pd.read_csv('soysnp50K_wm82.a2_41417.txt',sep='\t')

In [3]:
print(df.head())

           rs#                     ltName alleles chrom    pos PI86046  \
0  ss715578788  BARC_1.01_Gm_01_24939_A_G     A/G  GM01  24952       G
1  ss715578818  BARC_1.01_Gm_01_25990_C_T     C/T  GM01  26003       T
2  ss715578923  BARC_1.01_Gm_01_29658_A_G     A/G  GM01  29671       G
3  ss715578960  BARC_1.01_Gm_01_30699_G_A     G/A  GM01  30712       G
4  ss715579193  BARC_1.01_Gm_01_37005_C_T     C/T  GM01  37018       C

  PI90208 PI219698 PI253651A PI347550A  ... PI574480B PI578360 PI578362  \
0       A        -         A         A  ...         A        A        G
1       C        -         C         C  ...         C        C        T
2       A        H         A         A  ...         A        A        G
3       G        G         G         G  ...         G        G        G
4       C        H         C         C  ...         C        C        T

  PI639693 PI657626 PI634759 PI423967 PI587906 PI587946 PI603516
0        A        A        A        A        A        A        H
1        C        C        C        C        C        C        H
2        A        A        A        A        A        A        H
3        G        G        G        G        G        G        G
4        C        C        C        C        C        C        -

[5 rows x 20092 columns]

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42291 entries, 0 to 42290
Columns: 20092 entries, rs# to PI603516
dtypes: int64(1), object(20091)
memory usage: 6.3+ GB
None

## Input my own genoeypic data

In [5]:
df2=pd.read_csv('own_g.hmp.txt',sep='\t')

In [6]:
print(df2.head())

                         rs# alleles  chrom    pos strand  assembly#  center  \
0  BARC_1.01_Gm_01_24939_A_G     A/G      1  24939      +        NaN     NaN
1  BARC_1.01_Gm_01_25990_C_T     C/T      1  25990      +        NaN     NaN
2  BARC_1.01_Gm_01_29658_A_G     A/G      1  29658      +        NaN     NaN
3  BARC_1.01_Gm_01_30699_G_A       G      1  30699      +        NaN     NaN
4  BARC_1.01_Gm_01_37005_C_T     C/T      1  37005      +        NaN     NaN

   protLSID  assayLSID  panelLSID  ...  2012-176 2012-177 2012-178 2012-180  \
0       NaN        NaN        NaN  ...         G        A        G        A
1       NaN        NaN        NaN  ...         T        C        T        C
2       NaN        NaN        NaN  ...         G        A        G        A
3       NaN        NaN        NaN  ...         G        G        G        G
4       NaN        NaN        NaN  ...         T        C        T        C

  2012-181 2012-182 2012-183 2012-184 2012-185 2012-186
0        A        A        A        A        A        A
1        C        C        C        C        C        C
2        A        A        A        A        A        A
3        G        G        G        G        G        G
4        C        C        C        C        C        C

[5 rows x 1238 columns]

##  Combine the public data with my own research data

In [7]:
###Combined my own data with the big dataset
combined_g = pd.merge(df,df2,left_on='ltName',right_on= 'rs#',how='inner')

In [8]:
print(combined_g.head())

         rs#_x                     ltName alleles_x chrom_x  pos_x PI86046  \
0  ss715578788  BARC_1.01_Gm_01_24939_A_G       A/G    GM01  24952       G
1  ss715578818  BARC_1.01_Gm_01_25990_C_T       C/T    GM01  26003       T
2  ss715578923  BARC_1.01_Gm_01_29658_A_G       A/G    GM01  29671       G
3  ss715578960  BARC_1.01_Gm_01_30699_G_A       G/A    GM01  30712       G
4  ss715579193  BARC_1.01_Gm_01_37005_C_T       C/T    GM01  37018       C

  PI90208 PI219698 PI253651A PI347550A  ... 2012-176 2012-177 2012-178  \
0       A        -         A         A  ...        G        A        G
1       C        -         C         C  ...        T        C        T
2       A        H         A         A  ...        G        A        G
3       G        G         G         G  ...        G        G        G
4       C        H         C         C  ...        T        C        T

  2012-180 2012-181 2012-182 2012-183 2012-184 2012-185 2012-186
0        A        A        A        A        A        A        A
1        C        C        C        C        C        C        C
2        A        A        A        A        A        A        A
3        G        G        G        G        G        G        G
4        C        C        C        C        C        C        C

[5 rows x 21330 columns]

In [9]:
g_column_name=[cn for cn in combined_g.columns]

In [10]:
g_column_name[:10]

['rs#_x',
 'ltName',
 'alleles_x',
 'chrom_x',
 'pos_x',
 'PI86046',
 'PI90208',
 'PI219698',
 'PI253651A',
 'PI347550A']

In [11]:
## Phenotype data downloaded from https://www.g3journal.org/content/9/7/2253.
p_df = pd.read_csv('trait.txt',sep='\t')

In [13]:
print(p_df.head())

         id   oil  protein  yield
0  PI103414  21.6     37.7   2.28
1  PI132215  20.4     39.7   1.84
2  PI135589  15.5     39.1   1.91
3  PI135590  16.0     41.0   1.61
4  PI142491  19.8     39.9   1.82

In [14]:
## appending my own phenotypic to the big data set
p_own_df = pd.read_csv('p_own.txt',sep='\t')

In [15]:
combined_py = p_df.append(p_own_df,ignore_index=True)

##  Unify Genotypic and phenotypic data based on line's ID

In [16]:
print(combined_py[:10])

         id   oil  protein  yield
0  PI103414  21.6     37.7   2.28
1  PI132215  20.4     39.7   1.84
2  PI135589  15.5     39.1   1.91
3  PI135590  16.0     41.0   1.61
4  PI142491  19.8     39.9   1.82
5  PI153214  18.2     41.1   1.82
6  PI153229  19.5     38.3   1.74
7  PI153236  20.4     39.0   2.07
8  PI153247  20.0     39.5   1.95
9  PI153255  20.8     36.9   2.20

In [42]:
combined_py.to_csv('combined_py.csv')

In [19]:
p_column_name=[item for item in combined_py.id]

In [21]:
print(p_column_name[:10])

['PI103414', 'PI132215', 'PI135589', 'PI135590', 'PI142491', 'PI153214', 'PI153229', 'PI153236', 'PI153247', 'PI153255']

In [22]:
## find out common id among genotypic and phenotypic data
common_name=[value for value in g_column_name if value in p_column_name]

In [27]:
print(len(common_name))

9821

In [23]:
common_name[:10]

['PI219698',
 'PI253651A',
 'PI347550A',
 'PI408055A',
 'PI408069',
 'PI408169A',
 'PI408169B',
 'PI416923',
 'PI417472A',
 'PI417521']

In [24]:
new_genotype=pd.concat([combined_g.loc[:, 'rs#_x':'pos_x'], combined_g[common_name]], axis=1)

In [25]:
print(new_genotype.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42234 entries, 0 to 42233
Columns: 9826 entries, rs#_x to 2012-186
dtypes: int64(1), object(9825)
memory usage: 3.1+ GB
None

In [26]:
print(new_genotype.head())

         rs#_x                     ltName alleles_x chrom_x  pos_x PI219698  \
0  ss715578788  BARC_1.01_Gm_01_24939_A_G       A/G    GM01  24952        -
1  ss715578818  BARC_1.01_Gm_01_25990_C_T       C/T    GM01  26003        -
2  ss715578923  BARC_1.01_Gm_01_29658_A_G       A/G    GM01  29671        H
3  ss715578960  BARC_1.01_Gm_01_30699_G_A       G/A    GM01  30712        G
4  ss715579193  BARC_1.01_Gm_01_37005_C_T       C/T    GM01  37018        H

  PI253651A PI347550A PI408055A PI408069  ... 2012-176 2012-177 2012-178  \
0         A         A         A        A  ...        G        A        G
1         C         C         C        C  ...        T        C        T
2         A         A         A        A  ...        G        A        G
3         G         G         G        G  ...        G        G        G
4         C         C         C        C  ...        T        C        T

  2012-180 2012-181 2012-182 2012-183 2012-184 2012-185 2012-186
0        A        A        A        A        A        A        A
1        C        C        C        C        C        C        C
2        A        A        A        A        A        A        A
3        G        G        G        G        G        G        G
4        C        C        C        C        C        C        C

[5 rows x 9826 columns]

In [55]:
new_genotype.to_csv('new_genotyp_combined.txt')

In [28]:
new_pheno=combined_py.loc[combined_py['id'].isin(common_name)]

In [56]:
new_pheno.to_csv('new_phenotype_combined.txt')

## Data Cleaning for phenotypic data

In [225]:
print(new_genotype.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42234 entries, 0 to 42233
Columns: 9826 entries, rs#_x to 2012-186
dtypes: int64(1), object(9825)
memory usage: 3.1+ GB
None

In [154]:
combined_p_non_dup = pd.read_csv('new_phenotype_combined.txt',sep=',')
print(combined_p_non_dup.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12939 entries, 0 to 12938
Data columns (total 5 columns):
Unnamed: 0    12939 non-null int64
id            12939 non-null object
oil           12859 non-null float64
protein       12859 non-null float64
yield         10198 non-null float64
dtypes: float64(3), int64(1), object(1)
memory usage: 505.5+ KB
None

In [155]:
## Note that there are duplicates in combined_p_non_dup
print(combined_p_non_dup.head())

   Unnamed: 0        id   oil  protein  yield
0           0  PI103414  21.6     37.7   2.28
1           1  PI132215  20.4     39.7   1.84
2           2  PI135589  15.5     39.1   1.91
3           3  PI135590  16.0     41.0   1.61
4           4  PI142491  19.8     39.9   1.82

In [156]:
combined_p_non_dup=new_pheno.drop_duplicates(subset='id',keep='last')

In [157]:
print(combined_p_non_dup.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9821 entries, 0 to 12963
Data columns (total 4 columns):
id         9821 non-null object
oil        9754 non-null float64
protein    9754 non-null float64
yield      7099 non-null float64
dtypes: float64(3), object(1)
memory usage: 383.6+ KB
None

In [158]:
combined_p_non_dup.describe()

               oil      protein        yield
count  9754.000000  9754.000000  7099.000000
mean     18.492156    44.350415     2.215935
std       2.148282     2.620695     0.994446
min       8.200000    33.100000     0.030000
25%      17.200000    42.500000     1.510000
50%      18.700000    44.200000     2.080000
75%      20.000000    46.000000     2.890000
max      25.600000    57.400000     5.384000

In [160]:
print(combined_p_non_dup.head())

         id   oil  protein  yield
0  PI103414  21.6     37.7   2.28
1  PI132215  20.4     39.7   1.84
5  PI153214  18.2     41.1   1.82
6  PI153229  19.5     38.3   1.74
7  PI153236  20.4     39.0   2.07

In [161]:
## To find out outliers using zscore
cols = list(combined_p_non_dup.columns)
cols.remove('id')
combined_p_non_dup[cols]

for col in cols:
    col_zscore = col + '_zscore'
    combined_p_non_dup[col_zscore] = (combined_p_non_dup[col] - combined_p_non_dup[col].mean())/combined_p_non_dup[col].std(ddof=0)


print(combined_p_non_dup.head())

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

         id   oil  protein  yield  oil_zscore  protein_zscore  yield_zscore
0  PI103414  21.6     37.7   2.28    1.446739       -2.537783      0.064427
1  PI132215  20.4     39.7   1.84    0.888124       -1.774588     -0.378062
5  PI153214  18.2     41.1   1.82   -0.136002       -1.240351     -0.398175
6  PI153229  19.5     38.3   1.74    0.469164       -2.308825     -0.478627
7  PI153236  20.4     39.0   2.07    0.888124       -2.041706     -0.146761

In [186]:
# Construct a Boolean Series to identify outliers for yield trait
outliers_yield=(combined_p_non_dup['yield_zscore']< -3)| (combined_p_non_dup['yield_zscore'] > 3)
Yield=combined_p_non_dup.loc[~outliers_yield][['id','yield']]
Yield.to_csv('Yield.csv')

In [188]:
# Construct a Boolean Series to identify outliers for protein trait
outliers_protein= (combined_p_non_dup['protein_zscore']< -3)|(combined_p_non_dup['protein_zscore'] > 3)
Protein=combined_p_non_dup.loc[~outliers_protein][['id','protein']]
Protein.to_csv('protein.csv')

In [ ]:
# Construct a Boolean Series to identify outliers for protein trait
outliers_oil= (combined_p_non_dup['oil_zscore']< -3)|(combined_p_non_dup['oil_zscore'] > 3)
Protein=combined_p_non_dup.loc[~outliers_protein][['id','oil']]
Protein.to_csv('oil.csv')

##  Data Cleaning for genotypic data

In [1]:
import rpy2
import rpy2.robjects as robjects
from rpy2.robjects.packages import importr
import pandas as pd
from rpy2.robjects import pandas2ri 
import argparse
import sys
import textwrap
import timeit
import os
import numpy as np

ModuleNotFoundError: No module named 'tzlocal'

In [8]:
#### Backup for data cleaning quick start
## For qucikly stating data cleaning
### new_genotype = pd.read_csv('new_genotyp_combined.txt',sep=',')
### combined_p_non_dup = pd.read_csv('new_phenotype_combined',sep=',')

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import argparse
import sys
import textwrap
import timeit
import os
import numpy as np

### Genotypic data Numericalization option 1 (Using Python function)

In [136]:
new_genotype = pd.read_csv('new_genotyp_combined.txt',sep=',')

In [137]:
test=new_genotype

In [138]:
test=pd.DataFrame(test)

In [142]:
test.replace(to_replace='-', value=np.nan, inplace=True)
test.replace(to_replace='N', value=np.nan, inplace=True)  
test.replace(to_replace='W', value='H', inplace=True) 
test.replace(to_replace='S', value='H', inplace=True) 
test.replace(to_replace='M', value='H', inplace=True) 
test.replace(to_replace='K', value='H', inplace=True) 
test.replace(to_replace='R', value='H', inplace=True) 
test.replace(to_replace='Y', value='H', inplace=True)

In [143]:
test.head()

,Unnamed: 0,rs#_x,ltName,alleles_x,chrom_x,pos_x,PI219698,PI253651A,PI347550A,PI408055A,...,2012-176,2012-177,2012-178,2012-180,2012-181,2012-182,2012-183,2012-184,2012-185,2012-186
0,0,ss715578788,BARC_1.01_Gm_01_24939_A_G,A/G,GM01,24952,NaN,A,A,A,...,G,A,G,A,A,A,A,A,A,A
1,1,ss715578818,BARC_1.01_Gm_01_25990_C_T,C/T,GM01,26003,NaN,C,C,C,...,T,C,T,C,C,C,C,C,C,C
2,2,ss715578923,BARC_1.01_Gm_01_29658_A_G,A/G,GM01,29671,H,A,A,A,...,G,A,G,A,A,A,A,A,A,A
3,3,ss715578960,BARC_1.01_Gm_01_30699_G_A,G/A,GM01,30712,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
4,4,ss715579193,BARC_1.01_Gm_01_37005_C_T,C/T,GM01,37018,H,C,C,C,...,T,C,T,C,C,C,C,C,C,C

In [144]:
cols = list(test.columns)

In [145]:
## find out accessions with high H genotype
Column_Total=[]
for col in cols:
    count_h=0
    for item in test[col]:
        if item=='H':
         count_h+=1
    Column_Total.append(count_h/test.shape[0])
test.loc['Column_H_Total']=Column_Total

In [153]:
## find out accessions with high proportion of missing value
Column_missing=[]
for col in cols:
    count_m=0
    for item in test[col]:
        if item=='NaN':
         count_m+=1
    Column_missing.append(count_m/test.shape[0])
test.loc['Column_Missing_rate']=Column_missing

KeyError: 'Unnamed: 0'

In [148]:
test.tail()

,Unnamed: 0,rs#_x,ltName,alleles_x,chrom_x,pos_x,PI219698,PI253651A,PI347550A,PI408055A,...,2012-176,2012-177,2012-178,2012-180,2012-181,2012-182,2012-183,2012-184,2012-185,2012-186
42231,42231.0,ss715623959,BARC_1.01_Gm_16_28327950_C_T,C/T,SCAFFOLD_759,4974.0,C,C,T,C,...,T,C,C,C,C,C,C,C,NaN,C
42232,42232.0,ss715584606,BARC_1.01_Gm_03_1776411_C_T,T/C,SCAFFOLD_843,3015.0,T,T,T,T,...,C,C,C,C,C,T,T,T,C,T
42233,42233.0,ss715633065,BARC_1.01_Gm_19_11471731_C_T,C/T,SCAFFOLD_91,24874.0,C,C,T,C,...,C,T,C,C,C,C,C,C,C,C
Column_H_Total,0.0,0,0,0,0,0.0,0.157243,0.000355164,0.0293839,0.000189421,...,0.00641663,0.00584837,0.00182318,0.0116494,0.00272292,0.0140171,0.00485391,0.0106549,0.0224227,0.0564237
Column_Missing_rate,0.0,0,0,0,0,0.0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [149]:
test=test.iloc[:,6:]

In [150]:
def MAF(snps):
    print()
    counter = 0
    
    # Set up some constants for coding
    major = '0'
    minor = '2'
    hetero = '1'
    maf=[]      
    for i in range(snps.shape[0]):
        # Progress updates
        counter += 1
        if counter % 1e2 == 0:
            print("Processed", counter, "of", snps.shape[0] - 1, "markers.", end = '\r')
        
        # Get allele counts
        allele_counts = snps.iloc[i, :].value_counts()
        major_allele, minor_allele, het_allele = "N", "N", "N"
        major_count, minor_count, het_count = 0, 0, 0
        
        # Identify major and minor alleles
        for k, v in allele_counts.iteritems():
            if k in ['W', 'S', 'M', 'K', 'R', 'Y','H','0']:
                het_allele, het_count = k, v
            elif v > major_count:
                minor_count, major_count = major_count, v
                minor_allele, major_allele = major_allele, k
            else:
                minor_allele, minor_count = k, v
        MAF_r=(minor_count/snps.shape[1] + (het_count/snps.shape[1])*0.5)
        maf.append(MAF_r)
    snps.loc[:,'maf'] = maf

In [151]:
MAF(test)

In [152]:
test

,PI219698,PI253651A,PI347550A,PI408055A,PI408069,PI408169A,PI408169B,PI416923,PI417472A,PI417521,...,2012-177,2012-178,2012-180,2012-181,2012-182,2012-183,2012-184,2012-185,2012-186,maf
0,NaN,A,A,A,A,G,A,A,G,A,...,A,G,A,A,A,A,A,A,A,0.243051
1,NaN,C,C,C,C,T,C,C,T,C,...,C,T,C,C,C,C,C,C,C,0.241981
2,H,A,A,A,A,G,A,A,G,A,...,A,G,A,A,A,A,A,A,A,0.256135
3,G,G,G,G,G,G,G,G,A,G,...,G,G,G,G,G,G,G,G,G,0.081865
4,H,C,C,C,C,T,C,C,C,C,...,C,T,C,C,C,C,C,C,C,0.152581
5,C,C,C,C,C,C,C,C,A,C,...,C,C,C,C,C,C,C,C,C,0.081356
6,H,A,A,A,A,G,A,A,G,A,...,A,G,A,A,A,A,A,A,A,0.257000
7,H,G,G,G,G,A,G,G,G,G,...,G,A,G,G,G,G,G,G,G,0.151614
8,H,C,NaN,C,C,T,C,C,T,C,...,C,T,C,C,C,C,C,C,C,0.259342
9,H,C,C,C,C,A,C,C,A,C,...,C,A,C,C,C,C,C,C,C,0.253538
10,H,A,A,A,A,G,A,A,G,A,...,A,G,A,A,A,A,A,A,A,0.258579
11,H,T,T,T,T,G,T,T,G,T,...,T,G,T,T,T,T,T,T,T,0.260666
12,H,A,A,A,A,G,A,A,G,A,...,A,G,A,A,A,A,A,A,A,0.261022
13,H,A,A,A,A,C,A,A,C,A,...,A,C,A,A,A,A,A,A,A,0.249771
14,H,T,T,T,T,C,T,T,C,T,...,T,C,T,T,T,T,T,T,T,0.256288
15,H,A,A,A,A,G,A,A,G,A,...,A,G,A,A,G,A,A,A,A,0.427960
16,H,T,T,T,T,C,T,T,C,T,...,T,C,T,T,T,T,T,T,T,0.258222
17,H,A,A,A,A,C,A,A,A,A,...,A,C,A,A,A,A,A,A,A,0.165971
18,H,T,T,T,T,C,T,T,C,T,...,T,C,T,T,T,T,T,T,T,0.252978
19,H,C,C,C,C,T,C,C,C,C,...,C,T,C,C,C,C,C,C,C,0.169942
20,H,A,A,A,A,NaN,A,A,G,A,...,A,G,A,A,A,A,A,A,A,0.253233
21,H,G,G,G,G,A,G,G,A,G,...,G,A,G,G,G,G,G,G,G,0.263262
22,H,T,T,T,T,C,T,T,C,T,...,T,C,T,T,T,T,T,T,T,0.255880
23,H,G,G,G,G,A,G,G,A,G,...,G,A,G,G,G,G,G,G,G,0.261277
24,T,T,T,T,T,T,T,T,C,T,...,T,T,T,T,C,T,T,T,T,0.253895
25,C,C,C,C,C,C,C,C,T,C,...,C,C,C,C,C,C,C,C,C,0.101314
26,G,G,G,G,G,A,G,G,A,G,...,G,A,G,G,G,G,G,G,G,0.239080
27,C,C,T,T,T,C,C,C,T,T,...,C,C,T,T,C,T,T,H,T,0.325832
28,G,G,T,T,T,G,G,G,G,T,...,G,G,T,T,G,T,T,H,T,0.231697
29,H,A,A,A,A,A,A,A,G,A,...,A,G,A,A,A,A,A,A,A,0.195550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42206,C,A,C,A,C,C,C,A,A,C,...,A,C,C,A,A,C,A,C,A,0.431626
42207,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,0.000560
42208,A,G,A,A,G,A,A,A,G,A,...,G,A,A,G,G,A,G,A,G,0.449954
42209,T,C,T,T,T,T,T,T,C,T,...,C,T,T,C,C,T,C,T,C,0.392934
42210,C,T,C,C,C,C,C,C,T,C,...,T,C,C,T,T,C,T,C,T,0.376642
42211,A,G,A,A,A,A,A,A,G,A,...,G,A,A,G,G,A,G,A,G,0.378016
42212,C,T,C,C,C,C,C,C,T,C,...,T,C,C,T,T,C,T,C,T,0.370940
42213,C,T,C,C,C,C,C,C,T,C,...,T,C,C,T,T,C,T,C,T,0.376387
42214,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,0.000662
42215,H,C,C,T,T,C,C,T,T,C,...,C,T,T,C,T,T,T,C,NaN,0.371703
42216,H,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,0.080185
42217,T,T,T,T,T,T,T,T,T,T,...,T,T,T,T,T,T,T,T,T,0.057683
42218,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,0.259291
42219,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,0.041085
42220,G,A,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,0.321658
42221,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,0.168516
42222,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,0.169382
42223,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,0.171571
42224,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,0.170960
42225,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,0.172793
42226,A,A,A,A,A,A,A,A,A,A,...,A,A,A,A,A,A,A,A,A,0.199929
42227,C,C,C,C,C,C,C,C,C,C,...,C,C,C,C,C,C,C,C,C,0.173811
42228,G,G,G,G,NaN,G,G,G,G,G,...,H,A,A,H,NaN,G,G,H,H,0.064912
42229,G,G,G,G,G,G,G,G,G,G,...,G,G,G,G,G,G,G,G,G,0.032838
42230,G,G,G,G,G,G,A,G,G,G,...,G,G,G,G,G,H,A,A,A,0.191427
42231,C,C,T,C,C,C,C,C,C,T,...,C,C,C,C,C,C,C,NaN,C,0.218664
42232,T,T,T,T,T,T,T,T,T,T,...,C,C,C,C,T,T,T,C,T,0.284696
42233,C,C,T,C,C,C,C,C,C,T,...,T,C,C,C,C,C,C,C,C,0.099073
Column_H_Total,0.157243,0.000355164,0.0293839,0.000189421,0.000236776,0.000757683,0.000118388,7.10328e-05,0.00125491,7.10328e-05,...,0.00584837,0.00182318,0.0116494,0.00272292,0.0140171,0.00485391,0.0106549,0.0224227,0.0564237,0.000102
Column_Missing_rate,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.000000

In [52]:
print(test.shape)

(42235, 50)

##  Genotypic data Numericalization option 1 (Using Python function)

In [180]:
new_genotype.head()

,Unnamed: 0,rs#_x,ltName,alleles_x,chrom_x,pos_x,PI219698,PI253651A,PI347550A,PI408055A,...,2012-176,2012-177,2012-178,2012-180,2012-181,2012-182,2012-183,2012-184,2012-185,2012-186
0,0,ss715578788,BARC_1.01_Gm_01_24939_A_G,A/G,GM01,24952,NaN,A,A,A,...,G,A,G,A,A,A,A,A,A,A
1,1,ss715578818,BARC_1.01_Gm_01_25990_C_T,C/T,GM01,26003,NaN,C,C,C,...,T,C,T,C,C,C,C,C,C,C
2,2,ss715578923,BARC_1.01_Gm_01_29658_A_G,A/G,GM01,29671,H,A,A,A,...,G,A,G,A,A,A,A,A,A,A
3,3,ss715578960,BARC_1.01_Gm_01_30699_G_A,G/A,GM01,30712,G,G,G,G,...,G,G,G,G,G,G,G,G,G,G
4,4,ss715579193,BARC_1.01_Gm_01_37005_C_T,C/T,GM01,37018,H,C,C,C,...,T,C,T,C,C,C,C,C,C,C

In [52]:
## The main dataset used "H" represent hetero genetype, so unify is needed.
df1=new_genotype.iloc[:,2:]
df1.drop(['alleles_x', 'chrom_x', 'pos_x'],axis=1, inplace=True)
df1=df1.T
df1=df1.drop('ltName')
df1.reindex()
df1.replace(to_replace='-', value=np.nan, inplace=True)
df1.replace(to_replace='N', value=np.nan, inplace=True)  
df1.replace(to_replace='W', value='H', inplace=True) 
df1.replace(to_replace='S', value='H', inplace=True) 
df1.replace(to_replace='M', value='H', inplace=True) 
df1.replace(to_replace='K', value='H', inplace=True) 
df1.replace(to_replace='R', value='H', inplace=True) 
df1.replace(to_replace='Y', value='H', inplace=True)

In [47]:
df1.to_csv('sample_check.csv')

In [ ]:
### readhmp function can be used in future
 def readhmp(filename):
    d = pd.read_csv(filename)
    df1=d.iloc[:,2:]
    df1.drop(['alleles_x', 'chrom_x', 'pos_x'],axis=1, inplace=True)
    df1=df1.T
    df1=df1.drop('ltName')
    df1.reindex()
    df1.replace(to_replace='-', value=np.nan, inplace=True)
    df1.replace(to_replace='N', value=np.nan, inplace=True)
    df1.replace(to_replace='W', value='H', inplace=True) 
    df1.replace(to_replace='S', value='H', inplace=True) 
    df1.replace(to_replace='M', value='H', inplace=True) 
    df1.replace(to_replace='K', value='H', inplace=True) 
    df1.replace(to_replace='R', value='H', inplace=True) 
    df1.replace(to_replace='Y', value='H', inplace=True) 
    return df1

In [53]:
### Use numericalize function from SNPtool to convert data.
def numericalize(snps):
    print()
    counter = 0
    
    # Set up some constants for coding
    major = '0'
    minor = '2'
    hetero = '1'
            
    for i in range(snps.shape[1]):
        # Progress updates
        counter += 1
        if counter % 1e2 == 0:
            print("Processed", counter, "of", snps.shape[1] - 1, "markers.", end = '\r')
        
        # Get allele counts
        allele_counts = snps.iloc[:, i].value_counts()
        major_allele, minor_allele, het_allele = "N", "N", "N"
        major_count, minor_count, het_count = 0, 0, 0
        
        # Identify major and minor alleles
        for k, v in allele_counts.iteritems():
            if k in ['W', 'S', 'M', 'K', 'R', 'Y','H','0']:
                het_allele, het_count = k, v
            elif v > major_count:
                minor_count, major_count = major_count, v
                minor_allele, major_allele = major_allele, k
            else:
                minor_allele, minor_count = k, v
        
        # Replace alleles with numerical values
        snps.iloc[:, i].replace(to_replace = [major_allele, minor_allele, het_allele], value = [major, minor, hetero], inplace = True)
        snps.iloc[:, i] = pd.to_numeric(snps.iloc[:, i])
        snps.iloc[:, i] = snps.iloc[:, i].fillna(major)

In [ ]:
numericalize(df1)

In [ ]:
df1.to_csv('021format_of_g_combined.txt')

## Genotypic data Numericalization option 2 (runing R code in python)

In [205]:
df2=new_genotype.iloc[:,2:]
df2.replace(to_replace='-', value='N', inplace=True)
df2.replace(to_replace='np.nan', value='N', inplace=True)
df2.replace(to_replace='U', value='N', inplace=True)
df2.replace(to_replace='W', value='H', inplace=True) 
df2.replace(to_replace='S', value='H', inplace=True) 
df2.replace(to_replace='M', value='H', inplace=True) 
df2.replace(to_replace='K', value='H', inplace=True) 
df2.replace(to_replace='R', value='H', inplace=True) 
df2.replace(to_replace='Y', value='H', inplace=True)

In [207]:
df2.iloc[0,4]='N'

In [208]:
df2.iloc[1,4]='N'

In [209]:
df2.to_csv('g_combined_last_s.txt')

In [212]:
## I connected the GAPIT.Numericalization and GAPIT.HapMap function. These R codes will help convert the hapmap data to (-1,0,1) data format
rstring="""
GAPIT.Numericalization <-
  function(x,bit=1,effect="Add",impute="None", Create.indicator = FALSE, Major.allele.zero = FALSE, byRow=TRUE){
    #Object: To convert character SNP genotpe to numerical (-1,0,1)
    #Output: Coresponding numerical value
    #Authors: Feng Tian and Zhiwu Zhang
    # Last update: May 30, 2011 
    ##############################################################################################
    if(bit==1)  {
      x[x=="X"]="N"
      x[x=="-"]="N"
      x[x=="+"]="N"
      x[x=="/"]="N"
      x[x=="K"]="Z" #K (for GT genotype)is replaced by Z to ensure heterozygose has the largest value
    }
    
    if(bit==2)  {
      x[x=="XX"]="N"
      x[x=="--"]="N"
      x[x=="++"]="N"
      x[x=="//"]="N"
      x[x=="NN"]="N"
    }
    
    n=length(x)
    lev=levels(as.factor(x))
    lev=setdiff(lev,"N")
    #print(lev)
    len=length(lev)
    #print(lev)
    
    
    
    #Genotype counts
    count=1:len
    for(i in 1:len){
      count[i]=length(x[(x==lev[i])])
    }
    
    
    
    if(Major.allele.zero){
      if(len>1 & len<=3){
        #One bit: Make sure that the SNP with the major allele is on the top, and the SNP with the minor allele is on the second position
        if(bit==1){ 
          count.temp = cbind(count, seq(1:len))
          if(len==3) count.temp = count.temp[-3,]
          count.temp <- count.temp[order(count.temp[,1], decreasing = TRUE),]
          if(len==3)order =  c(count.temp[,2],3)else order = count.temp[,2]
        }
        
        #Two bit: Make sure that the SNP with the major allele is on the top, and the SNP with the minor allele is on the third position
        if(bit==2){ 
          count.temp = cbind(count, seq(1:len))
          if(len==3) count.temp = count.temp[-2,]
          count.temp <- count.temp[order(count.temp[,1], decreasing = TRUE),]
          if(len==3) order =  c(count.temp[1,2],2,count.temp[2,2])else order = count.temp[,2]
        }
        
        count = count[order]
        lev = lev[order]
        
      }   #End  if(len<=1 | len> 3)
    } #End  if(Major.allele.zero)
    
    
    
    #make two  bit order genotype as AA,AT and TT, one bit as A(AA),T(TT) and X(AT)
    if(bit==1 & len==3){
      temp=count[2]
      count[2]=count[3]
      count[3]=temp
    }
    position=order(count)
    
    
    #1status other than 2 or 3
    if(len<=1 | len> 3)x=-1
    
    #2 status
    if(len==2)x=ifelse(x=="N",NA,ifelse(x==lev[1],-1,1))
    
    #3 status
    if(bit==1){
      if(len==3)x=ifelse(x=="N",NA,ifelse(x==lev[1],-1,ifelse(x==lev[3],0,1)))
    }else{
      if(len==3)x=ifelse(x=="N",NA,ifelse(x==lev[1],-1,ifelse(x==lev[3],1,0)))
    }
    
    #print(paste(lev,len,sep=" "))
    #print(position)
    
    #missing data imputation
    if(impute=="Middle") {x[is.na(x)]=0 }
    
    if(len==3){
      if(impute=="Minor")  {x[is.na(x)]=position[1]  -1}
      if(impute=="Major")  {x[is.na(x)]=position[len]-1}
      
    }else{
      if(impute=="Minor")  {x[is.na(x)]=2*(position[1]  -1)}
      if(impute=="Major")  {x[is.na(x)]=2*(position[len]-1)}
    }
    
    #alternative genetic models
    if(effect=="Dom") x=ifelse(x==1,1,0)
    if(effect=="Left") x[x==1]=0
    if(effect=="Right") x[x==1]=2
    
    if(byRow) {
      result=matrix(x,n,1)
    }else{
      result=matrix(x,1,n)  
    }
    
    return(result)
  }
#end of GAPIT.Numericalization function



# Beginning of GAPIT.HapMap function


GAPIT.HapMap <-
  function(G,SNP.effect="Add",SNP.impute="Middle",heading=TRUE, Create.indicator = FALSE, Major.allele.zero = FALSE){
    #Object: To convert character SNP genotpe to numerical
    #Output: Coresponding numerical value
    #Authors: Feng Tian and Zhiwu Zhang
    # Last update: May 30, 2011 
    ##############################################################################################
    
    print(paste("Converting HapMap format to numerical under model of ", SNP.impute,sep=""))
    #gc()
    #GAPIT.Memory.Object(name.of.trait="HapMap.Start")
    
    #GT=data.frame(G[1,-(1:6)])
    if(heading){
      GT= t(G[1,-(1:6)])
      GI= G[-1,c(1,3,4)]
    }else{
      GT=NULL
      GI= G[,c(1,3,4)]
    }
    
    
    #Set column names
    if(heading)colnames(GT)="taxa"
    colnames(GI)=c("SNP","Chromosome","Position")
    
    #Initial GD
    GD=NULL
    bit=nchar(as.character(G[2,12])) #to determine number of bits of genotype
    #print(paste("Number of bits for genotype: ", bit))
    
    print("Perform numericalization")
    
    if(heading){
      if(!Create.indicator) GD= apply(G[,-(1:6)],1,function(one) GAPIT.Numericalization(one,bit=bit,effect=SNP.effect,impute=SNP.impute, Major.allele.zero=Major.allele.zero))
      if(Create.indicator) GD= t(G[,-(1:6)])
    }else{
      if(!Create.indicator) GD= apply(G[  ,-(1:6)],1,function(one) GAPIT.Numericalization(one,bit=bit,effect=SNP.effect,impute=SNP.impute, Major.allele.zero=Major.allele.zero))
      if(Create.indicator) GD= t(G[ ,-(1:6)])
    }
    
    #set GT and GI to NULL in case of null GD
    if(is.null(GD)){
      GT=NULL
      GI=NULL
    }
    
    
    write.csv(GD, file ="Numeric data_-101_last_all_new.csv")
    print("The dimension of GD is:")
    print(dim(GD))
    print ("Succesfuly finished converting HapMap to numeric data !")
    
    if(!Create.indicator) {print(paste("Succesfuly finished converting HapMap which has bits of ", bit,sep="")) }
    return(list(GT=GT,GD=GD,GI=GI))
  }

"""

In [213]:
readtable=robjects.r('read.csv')

In [214]:
transfunc=robjects.r(rstring)

In [215]:
r_g_data=readtable("g_combined_last_s.txt")

In [216]:
r_df=transfunc(r_g_data)

In [217]:
r_df_new=pd.read_csv('Numeric data_-101_last_all_new.csv')

In [218]:
r_df_new.head()

,Unnamed: 0,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V42225,V42226,V42227,V42228,V42229,V42230,V42231,V42232,V42233,V42234
0,1,-1,-1,-1,1,-1,1,-1,1,-1,...,-1,1,-1,1,1,1,1,-1,0,-1
1,2,-1,-1,-1,1,-1,1,-1,1,0,...,-1,1,-1,1,1,1,1,0,0,0
2,3,-1,-1,-1,1,-1,1,-1,1,-1,...,-1,1,-1,1,1,1,1,-1,0,-1
3,4,-1,-1,-1,1,-1,1,-1,1,-1,...,-1,1,-1,1,0,1,1,-1,0,-1
4,5,1,0,1,1,0,1,1,-1,0,...,-1,1,-1,1,1,1,1,-1,0,-1

In [293]:
r_df_new.loc['Column_Total']= r_df_new.sum(numeric_only=True, axis=0)
r_df_new.loc[:,'Row_Total'] = r_df_new.sum(numeric_only=True, axis=1)

In [132]:
r_df_new[:10]

NameError: name 'r_df_new' is not defined